
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: $black;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  box-sizing: border-box;
}
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--1 {
  -webkit-line-clamp: 1;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}
.text-clamp--5 {
  -webkit-line-clamp: 5;
}
ul,li {
  list-style-type: none;  
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
textarea {
  resize: none;
}
p{
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.text-hover:hover{
  color: $yellow;
}
.text-span{
  color: $silver;
}
.text-white{
  color: $white;
}
.text-yellow{
  color: $yellow;
}
.price{
  color: $red;
  font-size: 15px;
}