@import './base/variables';
@import './base/global';
@import './base/mixin';

@import './components//carousel';
@import './components/modal';
@import './components/header';
@import './components/footer';
@import './components/filter';
@import './components/product';

@import './pages/index.scss';
