-
  var devices = [
    {
      icon: 'fas fa-plane',
      title: 'MIỄN PHÍ VẬN CHUYỂN',
      content: 'Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1000.000 Đ.'
    },
    {
      icon: 'fas fa-sync-alt',
      title: 'CHÍNH SÁCH ĐỔI TRẢ',
      content: 'Nếu như phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.'
    },
    {
      icon: 'fas fa-gift',
      title: 'KHUYẾN MÃI HÀNG TUẦN',
      content: 'Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.'
    },
    {
      icon: 'fas fa-thumbs-up',
      title: 'CAM KẾT HÀNG CHÍNH HÃNG',
      content: 'Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.'
    }
  ]
-
  var products =
  [
    { img: "./assets/images/products/1.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3 },
    { img: "./assets/images/products/2.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 1.5 },
    { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 4 },
    { img: "./assets/images/products/4.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2 },
    { img: "./assets/images/products/5.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2.5 },
    { img: "./assets/images/products/6.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 5 },
    { img: "./assets/images/products/7.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    { img: "./assets/images/products/8.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    { img: "./assets/images/products/10.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    { img: "./assets/images/products/11.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },

  ]
