main{
  .titleSection{
    p{
      font-size: 16px;
    }
    img{
      width: 15px;
      height: 15px;
    }
    .titleSection__btn{
      a{
        display: inline-block;
        padding: .001rem .9rem;
        border: 1px solid $silver;
        color: $silver;
        &:hover{
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  .banner__main{
    .row{
      .col-lg-8{
        @include for-size(normal){
        padding-right: 15px !important;
        }
      }
      .col-lg-4{
        @include for-size(normal){
        padding-left: 15px !important;
        }
      }
    }
    &-devices{
      display: flex;
      flex-direction: column;
      .device__item{
        @include for-size(xl){
          padding-top: 0 !important;
          padding-right: 0 !important;
        }
        @include for-size(normal){
          padding-top: 1rem !important;
          border-bottom: 1px solid $silver;
        }
        &:hover{
          background-color: $yellow;
          color: $white;
          cursor: pointer;
          >span{
            color: $white;
          }
        }
        flex-grow: 1;
        >span{
          font-size: 30px;
          color: $yellow;
        }
        &-content{
          p{
            font-size: 16px;
          }
          span{
            font-weight: 400;
          }
        }
    }
    }
  }
  .main__productHots{
    .productHost__filter{
      .filter--title{
        a{
          display: none;
          @include for-size(normal){
            display: inline-block;
          }
        }
      }
      #filter{
        .filter__item{
          color: $silver;
          cursor: pointer;
          &:hover{
            color: $yellow !important; 
          }
        }
      }
    }
  }
}