block variables
    include ../base/data.pug

mixin carouselProduct(data, size, id,type)
    div( id=id, class = `${type}  carouselProduct carousel slide` data-ride = 'carousel'  )
        div(class="carousel-inner")
            - for(var i= 0; i< data.length; i+=size)
                - var carouselContent = data.slice(i, i+size)
                    div(class=`carousel-item ${i == 0 && "active"} `)
                        .container
                            .row
                                each item, index in carouselContent
                                    .col-lg-4.col-md-6.col-sm-12
                                        +product(item)

mixin carouselsHome()
    #carouselHome.carousel.slide(data-ride = 'carousel')
        ul.carousel-indicators
            li(data-target="#carouselHome" data-slide-to="0" class="normal active")
            li(data-target="#carouselHome" data-slide-to="1" class="normal")
            li(data-target="#carouselHome" data-slide-to="2" class="normal")
        .carousel-inner
            .carousel-item.active
                img(src="./assets/images/SLIDER.jpg", alt="banner1")
            .carousel-item
                img(src="./assets/images/SLIDER.jpg", alt="banner2")
            .carousel-item
                img(src="./assets/images/SLIDER.jpg", alt="banner3")

        a(class="carousel-control-prev" href="#carouselHome" data-slide="prev")
            span(class="carousel-control-prev-icon")
        a(class="carousel-control-next" href="#carouselHome" data-slide="next")
            span(class="carousel-control-next-icon")
        