extend ../base/base.pug
block content
    +breadcrumbs([{ link: '/', name: 'Trang chủ' }, { link: './shoppingCart.html', name: 'Giỏ hàng' }])
    section.cart
        .container
            .row
                