.listFilter{
  @include borderMe();
  .filter--title{
    background-color: $black;
    color: $yellow;
   
  }
  i{
    display: inline-block;
  }
  .filter__item{
    color: $silver;
    @include for-size(normal){
      display: none;
    }
    cursor: pointer;
    &:hover{
      div{
        color: $yellow !important;
      }
    }
  }
}