.main__product{
  height: 365px;
  position: relative;

  &-inner{
  @include border();
  padding-bottom: 1rem;
  padding-top: 3.4rem;
  overflow: hidden;
  }
  &:hover{
    .main__product-inner{
      position: relative;
      z-index: 99;
      @include borderMe();
      @include boxShadow();

    }
  }
  &-img{
    display: flex;
    justify-content: center;
    img{
      padding: 1rem;
      width: 160px;
      height: 160px;
    }
  }
  &-content{
    .price{
      color: $red;
      font-size: 14px;
    }
    &-title{
      font-size: 16px;
    }
    i{
      color: $yellow;
    }
    
  }
  &:hover{
    .main__product-btn{
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
  &-btn{
    gap: 1rem;
    margin-bottom: -80px;
    margin-top: 45px;
    @include flex("",center,center);
    @include transition();
    a{
      font-size: 13px;
      width: 100px;
      border-radius: unset !important;
      @include flex("",center,center);
      color: $white !important;
      &:hover{
        color: $white;
        opacity: .6;
      }
    }
  }
}
.main__productOther{
  padding-bottom: 2rem;
  &-inner{
    @include border();
    &:hover{
      @include borderMe();
    }
    @include for-size(md){
      flex-direction: column;
    }
    @include flex("",center,center,"");
    .main__productOther-img{
      width: 160px;
      height: 160px;
    }
    .main__productOther-content{
      @include for-size(md){
        width: 100%;
      }
      &-title{
        font-size: 17px;
        text-transform: uppercase;
      }
      i{  
        color: $yellow;
      }
      padding: 1.5rem;
      width: 68%;
      .main__product-btn{
        margin: unset !important;
        @include for-size(md){
          justify-content: start;
        }
      }
      .price{
        color: $red;
        font-size: 18px;
      }
    }
  }
}